$grey: #738086;
$grey-dark-1: #5c666b;
$grey-dark-2: #454d50;
$grey-dark-3: #2e3336;
$grey-light-1: #b9c0c3;
$grey-light-2: #dbdfe0;
$grey-light-3: #f1f3f3;
$grey-light-4: #f8f9f9;


$DARK_BLUE: #014372;
$BLUE: #007FF6;